.review {
    padding-bottom: 48px;
    &__block {
        padding-top: 60px;
        display: flex;
    }
    &__descr {
        padding-left: 61px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__runs {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        line-height: 18px;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
        padding-top: 10px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
    .review {
        &__block {
            flex-direction: column;
        }
        &__img {
            display: flex;
            justify-content: center;
        }
        &__name {
            padding-left: 50px;
        }
        &__runs {
            padding-left: 70px;
        }
        &__text {
            width: 300px;
        }
    }
}
        
